.selected {
    background-color: lightgray;
}

.square {
    width: 50px;
    height: 100%;
    margin-right: 1em;
}

mat-nav-list.scrollable {
    flex-grow: 1;
    height: 600px;
    width: 300px;
    overflow: auto;
}

::ng-deep .default {
    background: transparent;
}
::ng-deep .blueEntity {
    background: #376079;
}
::ng-deep .lightblueEntity {
    background: lightblue;
}
::ng-deep .greenEntity {
    background: #A1C181;
}
::ng-deep .yellowEntity {
    background: #FCCA46;
}
::ng-deep .darkyellowEntity {
    background: darkgoldenrod;
}
::ng-deep .orangeEntity {
    background: #FE7F2D;
}
::ng-deep .darkgreenEntity {
    background: #579C87;
}
::ng-deep .lightgreenEntity {
    background: lightgreen;
}
::ng-deep .grayEntity {
    background: dimgray;
}
::ng-deep .lightgrayEntity {
    background: lightgray;
}
::ng-deep .redEntity {
    background: firebrick;
}