.default {
    background: transparent;
}
.blueEntity {
    background: lightblue;
}
.greenEntity {
    background: lightseagreen;
}
.redEntity {
    background: red;
}

.entity-radio-group {
    display: inline-flex;
    flex-direction: column;
  }